<!DOCTYPE html>
<html ng-app="Auction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="#/" class="navbar-brand"><span class="glyphicon glyphicon-tags"></span>  Virtual Auction Warehouse</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/items">All Items</a></li>
                    <li><a href="#/categories">Categories</a></li>
                    <li><a href="#/add">Add Item</a></li>
                    <li><a href="#/userCurrBids">Current Bids</a></li>
                    <li><a href="#/contact">Contact Us</a></li>
                    <li><a href="#/register">Register</a></li>
                    <li><a href="#/login">Log In</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h3>Comp. Name and Logo</h3>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Virtual Auction Warehouse</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
